.header {
    font-size: 20px;
    text-align: center;
}

#desc {
    font-size: 20px;
    text-align: center;
}

#numElReturned {
    font-size: 20px;
    text-align: center;
}

#array {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    height: 30%;
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 64px;
}

.block {
    display: inline-block;
    width: 28px;
    background-color: #6b5b95;
    position: relative;
    bottom: 0px;
    transition: 0.2s all ease;
    border: 1px solid black;
}
  
.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

label {
    display: block;
}